<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S'identifier</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br/>
        <br/>
        <div class="card" style="max-width:400px">
            <div class="card-header" style="background-color: #65ddf1">
                S'inscrire
            </div>
            <div class="card-body">

                <form class="form-horizontal" enctype="multipart/form-data" th:action="@{/register}" th:method="post"
                      th:object="${newUser}">
                    <div class="form-group">
                        <label class="control-label">Url Photo</label>
                        <input accept="image/jpeg" class="form-control" id="urlImg"
                               name="file" placeholder=" ex.: fanta.jpeg" type="file"/>

                    </div>

                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" id="login" required th:field="*{login}" type="text">
                        <span class="badge-danger" id="loginAvailable"> is login available ? </span>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password"
                               pattern="(?=.*\d)(?=.*[^a-zA-Z0-9])(?=.*[a-z])(?=.*[A-Z]).{6,}" required
                               th:field="*{password}"
                               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                               type="password">
                        <div id="message">
                            <h6>Password must contain the following:</h6>
                            <span class="badge-danger" id="letter">A <b>lowercase</b> letter</span>
                            <br/><span class="badge-danger" id="capital">A <b>capital (uppercase)</b> letter</span>
                            <br/><span class="badge-danger" id="number">A <b>number</b></span>
                            <br/><span class="badge-danger" id="special">A <b>special character</b></span>
                            <br/> <span class="badge-danger" id="length">Minimum <b>6 characters</b></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="firstname">First name</label>
                        <input class="form-control" id="firstname" th:field="*{firstname}" type="text">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name</label>
                        <input class="form-control" id="lastname" th:field="*{lastname}" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email adress</label>
                        <input class="form-control" id="email" required th:field="*{email}" type="email">
                    </div>
                    <div class="form-group">
                        <label for="langue">Langue</label>

                        <select id="show" th:field="*{langue}"
                                th:if="${languages != null and not #lists.isEmpty(languages)}">
                            <option th:each="lan : ${languages}"
                                    th:text="${lan}"
                                    th:value="${lan}"/>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>
    <br/>
    <br/>
    <script>
        // when the user clicks on login field


        var myInput = document.getElementById("password");
        var loginInput = document.getElementById("login");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var special = document.getElementById("special");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var login = document.getElementById("loginAvailable");

        loginInput.onkeyup = function () {

            $.ajax({
                url: "http://localhost:8080/api/isloginvalid/" + loginInput.value,
                type: "GET",
                async: true,
                success: function (data) {
                    console.log(data);
                    if (data) {
                        login.classList.remove("badge-danger");
                        login.classList.add("badge-success");
                    } else {
                        login.classList.remove("badge-success");
                        login.classList.add("badge-danger");
                    }
                }

            });
        };


        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        };

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        };

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("badge-danger");
                letter.classList.add("badge-success");
            } else {
                letter.classList.remove("badge-success");
                letter.classList.add("badge-danger");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("badge-danger");
                capital.classList.add("badge-success");
            } else {
                capital.classList.remove("badge-success");
                capital.classList.add("badge-danger");
            }
            // Validate capital letters
            var specialCharacter = /[^a-zA-Z0-9\-\/]/g;
            if (myInput.value.match(specialCharacter)) {
                special.classList.remove("badge-danger");
                special.classList.add("badge-success");
            } else {
                special.classList.remove("badge-success");
                special.classList.add("badge-danger");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("badge-danger");
                number.classList.add("badge-success");
            } else {
                number.classList.remove("badge-success");
                number.classList.add("badge-danger");
            }

            // Validate length
            if (myInput.value.length >= 6) {
                length.classList.remove("badge-danger");
                length.classList.add("badge-success");
            } else {
                length.classList.remove("badge-success");
                length.classList.add("badge-danger");
            }
        }
    </script>
</div>


</body>
</html>