<!DOCTYPE html>
<html layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des artistes</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown"
                    type="button">
                Ajouter Artist
            </button>
            <form class="dropdown-menu p-4" th:action="@{/artists/add}" th:method="post"
                  th:object="${newArtist}">


                <div class="form-group">
                    <label for="firstname">Prenom </label>
                    <input class="form-control" id="firstname" placeholder="Enter name"
                           th:field="*{firstname}"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label for="lastname"> Nom</label>
                    <input class="form-control" id="lastname" placeholder="Enter name"
                           th:field="*{lastname}"
                           type="text"/>
                </div>
                <button class="btn btn-primary" type="submit">Ajouter</button>
            </form>
        </div>
        <h1>Liste des artistes</h1>
        <table class="table table-striped table-bordered" id="dtBasicExample" style="width:100%"
               th:unless="${#lists.isEmpty(artists)}">
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Types</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artists}">
                <td th:text="${{artist.firstname}}"></td>
                <td th:text="${{artist.lastname}}"></td>
                <td th:text="${{artist.getTypesAsString()}}"></td>
                <td>
                    <a th:href="@{'/artists/update/'+ ${artist.id}}"> Modifier </a>
                    <a th:href="@{'/artists/addtype/'+ ${artist.id}}"> +Type </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Types</th>
                <th scope="col">Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

</body>
</html>
