<!DOCTYPE html>
<html layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un artiste</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br/>
        <br/>
        <div class="card" style="max-width:400px">
            <div class="card-header" style="background-color: #65ddf1">
                Ajouter un artiste à un show
            </div>
            <div class="card-body">

                <form class="form-horizontal" th:action="@{/shows/addartist}" th:method="post"
                      th:object="${show}">
                    <input th:field="*{id}" type="hidden"/>

                    <div class="form-group" th:if="${artists != null and not #lists.isEmpty(artists)}"
                         th:object="${artistTypeShow}">
                        <label>New Type : </label>
                        <select th:field="*{artistType}">
                            <option th:each="artT : ${artists}"
                                    th:text="${artT.artist.firstname+ ' ' + artT.artist.lastname +'['+artT.type.type+']'}"
                                    th:value="${artT.id}"/>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
            </div>
        </div>

    </div>
    <br/>
    <br/>
</div>
</body>
</html>