<!DOCTYPE html>
<html layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un spectacle</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br/>
        <br/>
        <div class="card" style="max-width:400px">
            <div class="card-header" style="background-color: #65ddf1">
                <a th:if=="${representation.id}"> Modifier un spectacle</a>
                <a th:unless=="${representation.id}"> Ajouter spectacle </a></button>
            </div>
            <div class="card-body">

                <form class="form-horizontal" enctype="multipart/form-data" th:action="@{/representations/add}"
                      th:method="post"
                      th:object="${representation}">
                    <input th:field="*{id}" type="hidden"/>
                    <div class="form-group">
                        <label class="control-label">Url Photo</label>
                        <input accept="image/jpeg" class="form-control" id="urlImg"
                               name="file" placeholder=" ex.: fanta.jpeg" type="file"/>
                    </div>
                    <div class="form-group">
                        <label for="location">Spetacle</label>

                        <select id="show" th:field="*{show}"
                                th:if="${shows != null and not #lists.isEmpty(shows)}">
                            <option th:each="show : ${shows}"
                                    th:text="${show.title}"
                                    th:value="${show.id}"/>
                        </select>
                        <span class="badge badge-danger" th:errors="*{show}"
                              th:if="${#fields.hasErrors('show')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>

                        <select id="location" th:field="*{location}"
                                th:if="${locations != null and not #lists.isEmpty(locations)}">
                            <option th:each="loc : ${locations}"
                                    th:text="${loc.asString()}"
                                    th:value="${loc.id}"/>
                        </select>
                        <span class="badge badge-danger" th:errors="*{location}"
                              th:if="${#fields.hasErrors('location')}"></span>
                    </div>

                    <div class="form-group">
                        <label for="date">Date et heure</label>
                        <div>
                            <input class="form-control" id="date" th:field="*{date}"
                                   type="date">
                            <input class="form-control" id="time" th:field="*{time}"
                                   type="time">
                        </div>
                        <span class="badge badge-danger" th:errors="*{date}"
                              th:if="${#fields.hasErrors('date')}"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <a th:if=="${representation.id}"> Modifier </a>
                        <a th:unless=="${representation.id}"> Ajouter </a></button>
                </form>
            </div>
        </div>

    </div>
    <br/>
    <br/>
</div>
</body>
</html>