<!DOCTYPE html>
<html layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier une location</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br/>
        <br/>
        <div class="card" style="max-width:400px">
            <div class="card-header" style="background-color: #65ddf1">
                <a th:if=="${location.id}"> Modifier location </a>
                <a th:unless=="${location.id}"> Ajouter location </a>
            </div>
            <div class="card-body">

                <form class="form-horizontal" th:action="@{/locations/update}" th:method="post"
                      th:object="${location}">
                    <input th:field="*{id}" type="hidden"/>
                    <div class="form-group">
                        <label for="designation">Désignation</label>
                        <input class="form-control" id="designation" placeholder="designation" th:field="*{designation}"
                               type="text">
                        <span class="badge badge-danger" th:errors="*{designation}"
                              th:if="${#fields.hasErrors('designation')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="address">Addresse</label>
                        <input class="form-control" id="address" placeholder="addresse" th:field="*{address}"
                               type="text">
                        <span class="badge badge-danger" th:errors="*{address}"
                              th:if="${#fields.hasErrors('address')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="locality">Localité</label>

                        <select id="locality" th:field="*{locality}"
                                th:if="${localities != null and not #lists.isEmpty(localities)}">
                            <option th:each="loc : ${localities}"
                                    th:text="${loc.toString()}"
                                    th:value="${loc.id}"/>
                        </select>
                        <span class="badge badge-danger" th:errors="*{locality}"
                              th:if="${#fields.hasErrors('locality')}"></span>
                    </div>

                    <div class="form-group">
                        <label for="address">Website</label>
                        <input class="form-control" id="website" placeholder="website" th:field="*{website}"
                               type="text">
                        <span class="badge badge-danger" th:errors="*{website}"
                              th:if="${#fields.hasErrors('website')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="address">Phone</label>
                        <input class="form-control" id="phone" placeholder="phone" th:field="*{phone}"
                               type="tel">
                        <span class="badge badge-danger" th:errors="*{phone}"
                              th:if="${#fields.hasErrors('phone')}"></span>
                    </div>
                    <button class="btn btn-primary" type="submit"><a th:if=="${location.id}"> Modifier </a>
                        <a th:unless=="${location.id}"> Ajouter </a></button>
                </form>
            </div>
        </div>

    </div>
    <br/>
    <br/>
</div>
</body>
</html>